{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
  <form method="get">
    {% csrf_token %}
    <input type="search" name="search">
    <input type="checkbox" name="is_completed">
    <input type="date" name="due_date">
    <input type="submit" value="filter">
  </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Due date</th>
            <th>Is completed</th>
            <th>Created at</th>
            <th>Action</th>
        </tr>
    {% for task in tasks %}
        <tr>
            <td> {{task.id}} </td>
            <td> {{task.title}} </td>
            <td> {{task.description}} </td>
            <td> {{task.due_date}} </td>
            <td> {{task.is_completed}} </td>
            <td> {{task.created_at}} </td>
            <td> 
                <a href="{% url 'task_edit' task.id %}">Edit</a>
                <a href="{% url 'task_delete' task.id %}">Delete</a>
                {% if not task.is_completed %}
                    <a href="{% url 'task_complete' task.id %}">Complete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}    
    </table>
{% endblock content %}